# Node
frontend/node_modules/
frontend/dist/

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Database
backend/planner.db

# Environment variables
.env

backend/*.db
backend/*.db-shm
backend/*.db-wal

.continue/